@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

.templateCard {
    margin: 1% 0;
    display: inline-block;
    width: 22%;
}

body {
    font-family: 'Calibri', sans-serif !important;
    background-color: #eee;
}

.product-wrapper,
.product-img {
    overflow: hidden;
    position: relative
}

.product-action {
    bottom: 0px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.6s ease 0s
}

.product-wrapper {
    border-radius: 10px 10px 0 0;
    position: relative;
    width: 100%;


}

.product-img {
    width: 100%;
    height: 280px;
}

.product-img>span {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    border-radius: 5px;

}

.product-action-style {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    display: inline-block;
    padding: 8px 2px 8px;
    border-radius: 10px;

}

.product-action-style>a {
    color: #979797;
    line-height: 1;
    padding: 0 21px;
    position: relative
}

.product-action-style>a.action-plus {
    font-size: 18px
}

.product-wrapper:hover .product-action {
    bottom: 20px;
    opacity: 1
}

.product-prices p {

    background-color: #333;

}

.products-details-price {
    height: inherit  ;
    width: 100%;
    flex: 1;
    background-color: #eee;
    border-radius: 0 0 10px 10px;
}

.products-details-price p {
    padding: 5px 0;
}


@media screen and (max-width: 768px) {
    .templateCard {
        margin: 1% 0;
        display: inline-block;
        width: 45%;
    }
    
   
  }