.side-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-logo img{
    width: 65px;
    border-radius: 50%;
    margin: 2px;
    background-color: gainsboro;
    cursor: pointer;
    
}

.side{
    height: 100%;
    padding: 10px;

}

.side .rowVisibilityside {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
    margin-bottom: 2px;
    font-size: 17px; 
    padding: 7px 15px;
    border-radius: 15px;
    color: red;
    
}

.side .rowVisibilityside span{
    color: red;
    margin-right: 40px;
}
.side .rowVisibilityside:hover {
    color: #fff;
    cursor: pointer;
    background-color: rgb(241, 115, 115);
}

.side .rowVisibilityside:hover span {
    color: #fff;
   
}




.side .visibiiltyside {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-bottom: 2px;
    padding: 6px;
    border-radius: 15px;
    color: red;
}

.side .visibiiltyside span{
    color: red;
}


.side .visibiiltyside span{
    color: red;
}
.side .visibiiltyside:hover {
    color: #fff;
    cursor: pointer;
    background-color: rgb(241, 115, 115);
}

.side .visibiiltyside:hover span {
    color: #fff;
   
}

.oversview{
    color: rgb(230, 138, 138);
    font-weight: 600;
    margin-left: 5px;
    
}