.layoutProduct {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  margin: 3% 0;

}

.subsMenu {
  display: flex;
  align-content: center;
  gap: 2%;
  align-items: center;
  border-bottom: 2px solid #D10024;
  height: 47px;
  background-color: #fff  ;
  border-radius: 0px 0px 5px 5px;
}

.subsMenu div span {
  font-size: 98%;
  color: #D10024;
  font-weight: bold;
}
.subsMenu div span:hover {
  color: #B9BABC;
}

.subsMenu div {
  display: flex;
  padding: 10px
}

.subsMenu div:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.subsMenu div:hover,span {
  color: #eee;
}